<!DOCTYPE HTML>
<html {% if site.language %}lang="{{ site.language }}"{% endif %}>
<head>
  <meta charset="UTF-8">
    {% assign title = page.title %}
    {% if page.type == 'archives' %}
    {% assign title = '归档' %}
    {% endif %}
    {% if page.type == 'categories' %}
    {% assign title = '分类' %}
    {% endif %}
    {% if page.type == 'tags' %}
    {% assign title = '标签' %}
    {% endif %}
    <title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>


    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    {% if site.author.name %}
    <meta name="author" content="{{ site.author.name }}">
    {% endif %}

    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <!--<%- open_graph({twitter_id: theme.author.twitter, google_plus: theme.author.google_plus}) %>-->

    <meta name="description" content="page.description">
    {% if page.type == 'post' %}
    <meta property="og:type" content="article">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="page.description">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">

  <!-- <meta name="baidu-site-verification" content="omJRdVnwTK" /> -->
  <meta name="baidu-site-verification" content="BCTXxB6hux" />

    <link rel="publisher" href="{{ site.author.google_plus }}">

    {% if site.rss %}
    <link rel="alternative" href="{{ site.rss }}" title="{{ site.title }}" type="application/atom+xml">
    {% endif %}
    {% if site.favicon %}
    <link rel="icon" href="{{ site.assets }}/{{ site.favicon }}">
    {% endif %}
    {% if site.apple_icon %}
    <link rel="apple-touch-icon" href="{{ site.assets }}/{{ site.apple_icon }}">
    <link rel="apple-touch-icon-precomposed" href="{{ site.assets }}/{{ site.apple_icon }}">
    {% endif %}

    <link rel="stylesheet" href="{{ site.assets }}/css/style.css" type="text/css">
    <link rel="stylesheet" href="{{ site.assets }}/css/highlight.css" type="text/css">
</head>

<!--  flagcounter   -->

<!--<a href="http://info.flagcounter.com/Q6yu"><img src="http://s10.flagcounter.com/count2/Q6yu/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>-->



<!--百度站内搜索开始
<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=6765244687647673409' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>


<div id="bdcs-frame-box"></div>
<script type="text/javascript">
  var bdcsFrameSid="6765244687647673409";
  var bdcsFrameWidth = 552;
  var bdcsFrameWt = 1;
  var bdcsFrameHt = 1;
  var bdcsFrameResultNum = 10;
  var bdcsFrameBgColor = "#ffffff";
</script>
<script type="text/javascript" src="http://zhannei.baidu.com/static/js/iframe.js"></script>

百度站内搜索结束-->

<!--百度站内搜索开始 彭友谊好好-18233560490-->
<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=9872709389462059831' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
<!--百度站内搜索结束-->


<!-- target=blank  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    //为超链接加上target='_blank'属性
    $('a[href^="http"]').each(function() {
      $(this).attr('target', '_blank');
    });
  });
</script>
