<div>
		    {% if site.imglogo.enable && site.imglogo.src %}
			<div id="imglogo">
				<a href="{{ site.baseurl }}/"><img src="{{ site.assets }}/{{ site.imglogo.src }}" alt="{{ site.title }}" title="{{ site.title }}"/></a>
			</div>
			{% endif %}
			<div id="textlogo">
				<h1 class="site-name"><a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a></h1>
				<h2 class="blog-motto">{% if site.tagline %}{{ site.tagline }}{% endif %}</h2>
			</div>
			<div class="navbar"><a class="navbutton navmobile" href="#" title="menu">
			</a></div>
	<!-----  flagcounter   ----->
	<a href="http://info.flagcounter.com/Q6yu" target="_blank" style="position: absolute;right: 0;"><img src="http://s10.flagcounter.com/count2/Q6yu/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
			<nav class="animated">
				<ul>
					<ul>
					 {% for m in site.menu %}
						<li><a href="{{ site.baseurl }}{{ m[1] }}">{{ m[0] }}</a></li>
					{% endfor %}
					<li>
 					{% if site.google_cse.enable %}
					<form class="search" action="{{ site.baseurl }}/search/" method="get" accept-charset="utf-8">
						<label>Search</label>
						<input type="search" id="search" autocomplete="off" name="q" maxlength="20" placeholder="搜索" />
						<input type=hidden name=domains value="http://pengyouyi.github.io">
						<input type=hidden name=sitesearch value="http://pengyouyi.github.io">
					</form>
					{% elsif site.baidu_search.enable %}
						<form class="search" action="{{ site.baidu_search.site }}" target="_blank">
							<label>Search</label>
						<input name="s" type="hidden" value= {{ site.baidu_search.id }} >
							<input type="text" name="q" size="30" placeholder="搜索"><br>
						</form>
					{% elsif site.tinysou_search.enable %}
						<form class="search">
							<label>Search</label>
						<input type="text" id="ts-search-input" name="q" size="30" placeholder="搜索"><br>
						</form>
					{% else %}
					<form class="search">
						<label>Search</label>
						<input type="search" id="pengyouyi-swiftype-search" name="q" autocomplete="off" maxlength="20" placeholder="搜索" />
						<input type="hidden" name="q" value="site:{{ site.baseurl | replace: 'http://', '' | replace: 'https://', '' }}">
					</form>
					{% endif %}
					</li>
				</ul>
			</nav>	
</div>


<!--   Swiftype   -->
<!--<script type="text/javascript">-->
	<!--(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){-->
				<!--(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);-->
		<!--e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);-->
	<!--})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');-->

	<!--_st('install','QX7LVexNXpxj8-cqq6Vx','2.0.0');-->
<!--</script>-->
<script type="text/javascript">
	(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
				(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
		e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
	})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

	_st('install','FYVb_3cQ-E8nTvt3NsWS','2.0.0');
</script>



